
<div class="modal product-view" >
      
   
  <ion-view ng-class="{'own-profile': myProfile}" class="profile-view" cache-view="false" view-title="Profile">
     
  <ion-content has-bouncing='false' class="profile-content" delegate-handle="profile-scroll">
 <button class="button button-icon button-clear icon  ion-arrow-left-c blanco" style="color: white;" ng-click="closeInfoPublicidad()"></button>
    <div class="row profile-data">
      <div class="col">

        <ion-slide-box class="profile-slides" on-slide-changed="slideHasChanged($index)">
          <ion-slide>
            <div class="row slide-content">
              <div class="col col-center user-data">
                <!-- We need a wrapper with width set for the preload image directive -->
                <div class="user-image-outer">
                  <pre-img ratio="_1_1" helper-class="rounded-image">
                    <img class="user-image" ng-src="{{publicidadSeleccionada.imagen}}" spinner-on-load>
                  </pre-img>
                </div>
                <h2 class="user-name">{{user.name}}</h2>
                <p class="user-resume">
                  <b>{{user.followers}}</b> {{publicidadSeleccionada.nombre}} &nbsp;&nbsp;<b>{{user.following}}</b> 
                </p>
              </div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="row slide-content">
              <div class="col col-center user-data">
                <p class="user-resume">
                 {{publicidadSeleccionada.descripcion}}
                </p>
              </div>
            </div>
          </ion-slide>
        </ion-slide-box>
      </div>
    </div>


    <ion-nav-view class="profile-sub-views" name="profileContent">

 <!--  <button class="btn tema button button-full button-assertive button-outline" ng-click="mostrarAgendarCita()">Cotizar</button>-->
        <!--<div  ng-show="publicidadSeleccionada.tieneRedes">
               <li class="item item-toggle">
                 Redes sociales
                   <label class="toggle toggle-assertive">
                     <input ng-model="publicidadSeleccionada.showRedes" type="checkbox">
                      <div class="track">
                        <div class="handle"></div>
                      </div>
                    </label>
                </li>-->
           
            <!--<div ng-show="publicidadSeleccionada.showRedes">-->
                <div class="list card">
                 <button class="btn tema button button-full button-assertive button-outline" ng-click="mostrarAgendarCita()">Cotizar</button>

                <a class="item item-avatar" href="#" ng-click="openGeoEstudio()" >
                    <img  width="48px" height="48px" src="./img/pin.png">
                      <h2>{{publicidadSeleccionada.redesCargadas.ciudad}}, {{publicidadSeleccionada.redesCargadas.direccion}}</h2>  
                    </a>
                
                 
                 <a class="item item-avatar" href="#" ng-click="whatsapp()">
                    <img  width="48px" height="48px" src="./img/whatsapp.png">
                    {{publicidadSeleccionada.redesCargadas.celular}}
                  </a>

                  <a class="item item-avatar"  href="#" ng-if="publicidadSeleccionada.redesCargadas.nombreTwitter != 'false'" ng-click="twitter()"  >
                    <img  width="48px" height="48px"  src="./img/twitter.png"  >
                    {{publicidadSeleccionada.redesCargadas.nombreTwitter}}
                  </a>

                 <a class="item  item-avatar" href="#" href="#" ng-click="facebook()">
                    <img  width="48px" height="48px" src="./img/facebook.png">
                    {{publicidadSeleccionada.redesCargadas.nombreFacebook}}
                  </a>
                  <a class="item item-avatar" href="#" ng-click="instagram()" ng-if="publicidadSeleccionada.redesCargadas.nombreInstagram != 'false'" >
                    <img  width="48px" height="48px" src="./img/Instagram.png">
                    {{publicidadSeleccionada.redesCargadas.nombreInstagram}}
                  </a>
                  <!--   <a class="item item-avatar" href="#" ng-if="publicidadSeleccionada.redesCargadas.nombreGoogle != 'false'" ng-click="" >
                    <img  width="48px" height="48px" src="./img/googleplus.png">
                    {{publicidadSeleccionada.redesCargadas.nombreGoogle}}
                  </a>-->

                </div>

           <!-- </div> -->
            <!-- </div> -->

            <div ng-show="publicidadSeleccionada.tieneImagenes">
               <li class="item item-toggle">
                 Imagenes
                   <label class="toggle toggle-assertive">
                     <input ng-model="publicidadSeleccionada.showImagenes" type="checkbox">
                      <div class="track">
                        <div class="handle"></div>
                      </div>
                    </label>
                </li>
            </div>
            <div ng-show="publicidadSeleccionada.showImagenes">
                <div ng-repeat="imagenes in imagenesCargadas">
                  <img class="full-image" src="{{imagenes.imagen}}">
                   
                </div>
            </div>
             
           <div ng-show="publicidadSeleccionada.tieneVideos">
               <li class="item item-toggle">
                 Videos
                   <label class="toggle toggle-assertive">
                     <input ng-model="publicidadSeleccionada.showVideos" type="checkbox">
                      <div class="track">
                        <div class="handle"></div>
                      </div>
                    </label>
                </li>
            </div>
                <div ng-show="publicidadSeleccionada.showVideos">
                  
                      <div ng-repeat="multi in videosCargados" class="list card " >
                        <div class="item item-divider fondoRojo">
   
                         </div>
                           

  
                        <center>
                             <iframe ng-src="{{trustSrc(multi.url)}}" frameborder="0" width="100%" height="315"></iframe>
                        </center>
 
                    </div>
              </div>
  </ion-nav-view>
  </ion-content>
</ion-view>    
</div>



<!--             -->

