<ion-view  class="feed-view" view-title="{{'editarPerfil' | translate}}">


      <ion-content  on-scroll="getScrollPosition()">   

          <div class="list ">
            
             <label class="item item-stacked-label">
              <center><span class="input-label letraBlanca">Foto de perfil</span><br></center>
              <img  style="width: 100% ;" src="{{artistaLogueado.imagen}}" />
              
        
            </label>
            <button id="2" class="button button-block" 
                ng-click="selImagenPerfil()" >
                     Seleccionar  imagen
              </button>

            <button id="1" class="button button-block" ng-click="tomarFotoDePerfil()" >
                     Tomar foto 
              </button>
            <center>
                <label class="item item-stacked-label">
                  <span class="input-label letraBlanca">Código : {{artistaLogueado.id}}</span>
                  
                </label>
            </center>  
     
            <label class="item item-stacked-label">
              <span class="input-label letraBlanca">Nombre*</span>
              <input type="text" ng-model="artistaLogueado.nombre" style="width: 100%;" placeholder="">
            </label>

             <label class="item item-stacked-label">
              <span class="input-label letraBlanca">Descripcion*            {{valorDescripcion}}/180</span>
               <textarea placeholder="{{item.type }} Description*" rows="1" ng-maxlength="200" ng-model="artistaLogueado.descripcion" ng-Required="true"   style="width: 100%; height: 100%;"  name="description"></textarea>
            </label>

             <label class="item item-stacked-label">
              <span class="input-label letraBlanca">Celular*</span>
              <input  ng-model="artistaLogueado.celular" type="text" style="width: 100%;" placeholder="">
            </label>

             <label class="item item-stacked-label item">
              <span class="input-label letraBlanca">Ciudad*</span>
               <select  style="display: block;
                      padding-top: 2px;
                      padding-left: 0;
                      height: 35px;
                      color: #111;
                      width: 100%;
                      vertical-align: middle;
                      font-size: 14px;
                      line-height: 16px;
                      border: none;
                      background: #fff;
                      color: #333;
                      text-indent: .01px;
                      text-overflow: '';
                      white-space: nowrap;
                      font-size: 14px;
                      cursor: pointer;
                      direction: rtl;" ng-model="artistaLogueado.ciudad">
                <option  ng-repeat="(key, value) in ciudadesCargadas" value="{{value}}">{{value}}</option>
             
              </select>
              <!--<input   ng-model="artistaLogueado.ciudad" type="text" style="width: 100%;" placeholder="John">-->
            </label>

             <label class="item item-stacked-label">
              <span class="input-label letraBlanca">Direccion</span>
              <input  ng-model="artistaLogueado.direccion" ng-model="artistaLogueado.direccion" type="text"  style="width: 100%;" placeholder="John">
            </label>

            <label class="item item-stacked-label item">
              <span class="input-label letraBlanca">Especialidad*</span>
              <select  style="display: block;
                      padding-top: 2px;
                      padding-left: 0;
                      height: 35px;
                      color: #111;
                      width: 100%;
                      vertical-align: middle;
                      font-size: 14px;
                      line-height: 16px;
                      border: none;
                      background: #fff;
                      color: #333;
                      text-indent: .01px;
                      text-overflow: '';
                      white-space: nowrap;
                      font-size: 14px;
                      cursor: pointer;
                      direction: rtl;" 
                      ng-model="artistaLogueado.especialidad">
                <option  ng-repeat="(key, value) in estilosCargados" value="{{value}}">{{value}}</option>
             
              </select>
             <!-- <input  ng-model="artistaLogueado.especialidad" type="text" style="width: 100%;" placeholder="John">-->
            </label>

            <label class="item item-stacked-label">
              <span class="input-label letraBlanca">Estudio</span>
              <input  ng-model="artistaLogueado.estudio" type="text" style="width: 100%;" placeholder="John">
            </label>

             <label class="item item-stacked-label">
              <span class="input-label letraBlanca">Mascara facebook</span>
              <input  ng-model="artistaLogueado.facebook" type="text" style="width: 100%;" >
            </label>

            <label class="item item-stacked-label">
              <span class="input-label letraBlanca">Url facebook</span>
              <input  ng-model="artistaLogueado.usuarioFacebook" type="text" style="width: 100%;" >
            </label>

            <label class="item item-stacked-label">
              <span class="input-label letraBlanca">Url instagram</span>
              <input  ng-model="artistaLogueado.usuarioInstagram" type="text" style="width: 100%;" >
            </label>

             


          <button class="button button-full button-stable  letraBlanca" ng-click="abrirUbicacion()">
             Modificar ubicacion
            </button>
            
                      
        
          <button class="button button-full button-stable  letraBlanca" ng-click="verficarEdicion()">
             Guardar
            </button>

          </div>

      </ion-content>
      

 <div  class="scrollToTop" ng-click="scrollTop()"></div>
 </div>
</ion-view>

