<ion-view  class="feed-view" view-title="{{'editarFotos' | translate}}">


   <ion-content   on-scroll="getScrollPosition()" class="fondoRojo" >      	  
   	<div ng-repeat="img in artistaLogueado.trabajos" class="item item-body fondoRojo">
   	<div class="item item-divider fondoRojo">
   Foto número {{$index +1}}
  </div>
		<p >
	
			<button class="button button-block " 
			ng-click="selImagenTrabajos($index)" >
				Seleccionar otra imagen
			</button>
			<button class="button button-block " ng-click="tomarFotoDeImagen($index)" >
				Tomar foto 
			</button>
			<img  style="width: 100% ;" src="{{img}}" />
		</p>
	</div>
	  <button class="button button-full button-stable  letraBlanca" ng-click="guardarFotos()">
             Guardar            
        </button>
  </ion-content>
        <div  ng-show="mostrarScroll">

 <div  class="scrollToTop" ng-click="scrollTop()"></div>
 </div>
</ion-view>

