<ion-view  class="feed-view" view-title="{{'Mis solicitudes' | translate}}">


      <ion-content  on-scroll="getScrollPosition()">   
         <center><label class="letraBlanca" > Mis  solicitudes   </label>
         <br>
         Mis InkPoints: {{dataClienteRegistrado.puntos}}
         </br>
         Mis InkPoints en canje : {{dataClienteRegistrado.puntosEnCanje}}
         </center>
          
          <div class="list">

          <div ng-repeat="solicitud in solicitudesCliente" >
              <a class="item item-thumbnail-left" ng-click="mostrarInfoSolicitud($index)">
                <img src="{{solicitud.photoURL}}">
                <h2>Cita con:{{solicitud.nombreArtista}}</h2>
                <p  ion-datetime-picker am-pm   ng-model="solicitud.fechaCita"> {{solicitud.fechaCita | date: "yyyy-MM-dd H:mm:ss a" }}</p>
                <p>Estado: {{solicitud.estado}} </p>
                <p>InkPoints: {{solicitud.inkPoints}} <span ng-if="solicitud.estado === 'ConfirmadaCliente'">restantes ({{solicitud.inkPoints - 50}})</span> </p>
                <button style="color:green;" ng-show="dataClienteRegistrado.puntos >= artista.puntosXsesion ">Puntos suficientes para agendar</button>
              </a>
               

              <div ng-show="solicitud.mostrarInfo">
                 <div ng-show="solicitud.estado == 'EnviadaArtista'">
                    esperando respuesta tatuador
                 </div>
                 <div ng-show="solicitud.estado == 'AceptadaArtista'">
                   La cita a sido aceptaada por el artista, solo debes confirmala  para que se agende. Al confirmar 50 inkpoint se daran al artista a manera de reserva.
                   <button ng-click="cambiarEstadoSolicitud( 'ConfirmadaCliente',solicitud.uidArtista,solicitud.inkPoints)"> Confirmar</button>
                   <button ng-click="cambiarEstadoSolicitud('RechazadaCliente',solicitud.uidArtista,solicitud.inkPoints)"> Cancelar</button>
                 </div>
                   <div ng-show="solicitud.estado == 'AceptadaArtistaFechaDiferente'">
                   La cita a sido aceptaada por el artista, pero para el dia {{solicitud.fechaCita}}. Al confirmar 50 inkpoint se daran al artista a manera de reserva.
                   <button ng-click="cambiarEstadoSolicitud( 'ConfirmadaCliente',solicitud.uidArtista,solicitud.inkPoints)"> Confirmar</button>
                   <button ng-click="cambiarEstadoSolicitud('RechazadaCliente',solicitud.uidArtista,solicitud.inkPoints)"> Cancelar</button>
                 </div>
                  <div ng-show="solicitud.estado == 'FechaModificadaArtista'">
                   El artista no puede el dia que le indicas pero te ofrece el dia  {{solicitud.fechaCita}}
                 </div>
                  <div ng-show="solicitud.estado == 'RechazadaCliente'">
                    Solicitud rechazada por el cliente antes de confirmar 
                 </div>
                  <div ng-show="solicitud.estado == 'RechazadaClienteDevolucionPuntos'">
                    Solicitud rechazada por el se devuelven puntos 
                 </div>
                  <div ng-show="solicitud.estado == 'ConfirmadaCliente'">
                    Felicidades tienes un tatuaje para el dia {{solicitud.fechaCita}} no olvides alimentarte muy bien antes de ir a a cita. 
                      <center>
                      <qrcode data="{{dataClienteRegistrado.uid}}" size="250"></qrcode>
                      <br>
                     <button ng-click="cambiarEstadoSolicitud('RechazadaClienteDevolucionPuntos',solicitud.uidArtista,solicitud.inkPoints)"> Cancelar cita </button>
                     </center>
                 </div>
                  <div ng-show="solicitud.estado  == 'InactivaPuntos'" >
                    Esta inactiva por que no tiene los puntos suficientes de la sesion.olicitud.estado 
                 </div>
                  <div ng-show="solicitud.estado == 'Tatuandome'">
                    Disfruta mientras te tatuas.
                 </div>
                  <div ng-show="solicitud.estado == 'TatuajeFinalizado'">
                   Tatuaje finalizado calificar * * * * * 
                 </div>

              </div>
         </div>
              
          </div>

      </ion-content>
      

 <div  class="scrollToTop" ng-click="scrollTop()"></div>
 </div>
</ion-view>

