<ion-view  class="feed-view" view-title="{{'Perfil artista' | translate}}">


      <ion-content  on-scroll="getScrollPosition()">   

          <div class="list ">
            
             <label class="item item-stacked-label">
              <center><span class="input-label letraBlanca">Foto de perfil artista</span><br></center>
              <img  style="width: 100% ;" src="{{dataArtistaRegistrado.photoURL}}" />
      
        
            </label>
            <button id="2" class="button button-block" 
                ng-click="selImagenPerfil()" >
                     Seleccionar  imagen
              </button>

            <button id="1" class="button button-block" ng-click="tomarFotoDePerfil()" >
                     Tomar foto 
              </button>
            <center>
                <label class="item item-stacked-label">
                  <span class="input-label letraBlanca">Código : {{artistaLogueado.id}}</span>
                  
                </label>
            </center>  
     
           

          </div>

      </ion-content>
      

 <div  class="scrollToTop" ng-click="scrollTop()"></div>
 </div>
</ion-view>

