<ion-view  class="feed-view" view-title="{{'recargaInkPoints' | translate}}">


      <ion-content  on-scroll="getScrollPosition()">   


          <div class="list ">
            
             <label class="item item-stacked-label">
              <center><span class="input-label letraBlanca">Mi codigo</span><br>
              
             <qrcode data="{{dataClienteRegistrado.infoClienteQr}}" size="250"></qrcode>
             </center>
            </label>
            
            <center>
            <label class="item item-stacked-label letraBlanca">
             {{dataClienteRegistrado.displayName}}
            </label><br>
              <label class="item item-stacked-label letraBlanca">
             {{dataClienteRegistrado.uid}}
            </label>
          
            </cemter>
            
          <button class="button button-full button-stable  letraBlanca" ng-click="scanCodigoRecarga()">
              Escanear codigo puntos
          </button>
           <button class="button button-full button-stable  letraBlanca" ng-click="llamarPayU()">
              payu
          </button>


        <form name="sendParam" method="post" action="https://test.payu.in/_payment">
      <input name="merchantId"    type="hidden"  value="508029"   >
  <input name="accountId"     type="hidden"  value="512321" >
  <input name="description"   type="hidden"  value="Test PAYU"  >
  <input name="referenceCode" type="hidden"  value="TestPayU" >
  <input name="amount"        type="hidden"  value="3"   >
  <input name="tax"           type="hidden"  value="0"  >
  <input name="taxReturnBase" type="hidden"  value="0" >
  <input name="currency"      type="hidden"  value="USD" >
  <input name="signature"     type="hidden"  value="ba9ffa71559580175585e45ce70b6c37"  >
  <input name="test"          type="hidden"  value="1" >
  <input name="buyerEmail"    type="hidden"  value="test@test.com" >
  <input name="responseUrl"    type="hidden"  value="http://www.test.com/response" >
  <input name="confirmationUrl"    type="hidden"  value="http://www.test.com/confirmation" >
  <input type="submit" value="enter" /> 
     </form > 

<script>
document.sendParam.submit();
</script>

          </div>


      </ion-content>
      

 <div  class="scrollToTop" ng-click="scrollTop()"></div>
 </div>
</ion-view>

